<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INFO3180 Flask App - Lab 1</title>
    <link rel="stylesheet" href="/static/css/app.css">
  </head>
  <body>
    <div class="container">
      <h1>Odaine Forbes</h1>
      <p>My daddy says that life comes at you fast. We all like blades of grass, we come to prime and in time we just wither away! And it all changes. 
      My view with a looking glass won't catch the past. Only photographs remind us of the passing of days. Oh nothing stays the same from yesteryears. 
      See I recall being afraid of the dark, and holding on to teddy bears. I'd wrap myself in blankets just to cover me from fears. That was then and now I'm here. And the night is mine</p>
    </div>
  </body>
</html>
